<%- include('header') -%>

<div class="right_col" role="main">

<div class="">
    <div class="page-title margintop45px">
        <div class="title_left">
            <h3>Référentiel - Liste des missions</h3>
        </div>

        <!-- Recherche -->
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Rechercher</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <a href="/addMission" class="btn btn-default">Ajouter une mission</a>
                <div class="x_panel">
                    <div class="x_content">
                        <table id="example" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                                <tr class="headings">
                                    <th>Numéro</th>
                                    <th>Date </th>
                                    <th>Nom </th>
                                    <th>Conducteur</th>
                                    <th>Lieu livraison</th>
                                    <th>Étape en cours </th>
                                    <th class=" no-link last"><span class="nobr">Action</span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <% for(var i=0; i < missions.length; i++) { dateMission = new Date(missions[i].Date); %>
                                
                                <tr class='even pointer'>
                                    <td class=''><%= missions[i].Id %></td>
                                    <td class=''><%= dateMission.getDate() %>/<%= (dateMission.getMonth()+1) %>/<%= dateMission.getFullYear() %></td>
                                    <td class=''><%= missions[i].Name %></td>
                                    <td class=''>John Blank L</td>
                                    <td class=''><%= missions[i].DeliveryPlace.Name %></td>
                                    <td class=''><%= missions[i].Steps[missions[i].Steps.length-1].StepTypeDetail.Name %></td>
                                    <td class='last'><a href='/voirMission-<%= missions[i].Id %>'>Consulter</a>
                                </tr>
                                <% } %>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <br />

        </div>
    </div>
        
    </div>
    <!-- /page content -->
</div>
<script>

</script>
<%- include('footer') -%>