<%- include('header') -%>

<div class="right_col" role="main">

<div class="">
    <div class="page-title margintop45px">
        <div class="title_left">
            <h3>Détails de la mission - <%= mission.Name %></h3>
        </div>
    </div>
    <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                 <p>Veuillez trouver ci-dessous l'intégralité des informations associées à la mission en cours de consultation.</p>

                <div class="x_panel">

                    <div class="x_content">
                        <form class="form-horizontal form-label-left">

                             <!-- INFOS PRINCIPALES -->

                             <% dateMission = new Date(mission.Date); %>

                             <div style="font-size:18px;"><strong>Informations principales :</strong></div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Intitulé </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="name" class="form-control col-md-7 col-xs-12" name="name" type="text" value="<%= mission.Name %>" disabled />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="date">Date</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="date" id="date" name="date" disabled class="form-control col-md-7 col-xs-12" value="<%= dateMission.getDate() %>/<%= (dateMission.getMonth()+1) %>/<%= dateMission.getFullYear() %>"/>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="description" name="description" class="form-control col-md-7 col-xs-12" disabled><%= mission.Description %></textarea>
                                </div>
                            </div>
                            
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="conducteur">Utilisateur</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="conducteur" class="form-control col-md-7 col-xs-12" name="conducteur" type="text" value="<%= mission.Driver.LastName %> <%= mission.Driver.FirstName %>" disabled />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="conducteur">Véhicule</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="vehicule" class="form-control col-md-7 col-xs-12" name="vehicule" type="text" value="(<%= mission.Vehicule.Id %>) <%= mission.Vehicule.Brand %> - <%= mission.Vehicule.Model %>" disabled />
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lieuEnlevement">Lieu d'enlèvement</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="lieuEnlevement" name="lieuEnlevement" class="form-control col-md-7 col-xs-12" value="<%= mission.PickupPlace.Name %>" disabled />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lieuLivraison">Lieu de livraison</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="lieuLivraison" name="lieuLivraison" class="form-control col-md-7 col-xs-12" value="<%= mission.DeliveryPlace.Name %>" disabled/>
                                </div>
                            </div>
                            


                            <!-- ETAPES -->

                            <div class="divider-dashed"></div>
                            <div style="font-size:18px;margin-top:5px;margin-bottom:10px;"><strong>Etapes</strong></div>

                            <p>Liste des étapes de la mission.</p>

                            <table id="tableEtapes" class="table table-striped responsive-utilities jambo_table" style="margin-bottom:10px;">
                                <thead>
                                    <tr class="headings">
                                        <th>Numéro</th>
                                        <th>Date </th>
                                        <th>Type étape </th>
                                        <th>Description</th>
                                        <th style="display:none">Position</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% for(var i=0; i < mission.Steps.length; i++) {
                                        dateEtape = new Date(mission.Steps[i].Date);  %>
                                    <tr class="even pointer">
                                        <td class="a-center "><%=mission.Steps[i].StepNumber%></td>
                                        <td class=" "><%= dateEtape.getDate() %>/<%= (dateEtape.getMonth()+1) %>/<%= dateEtape.getFullYear() %> <%= dateEtape.getHours()%>:<%= dateEtape.getMinutes()%> </td></td>
                                        <td class=" "><%=mission.Steps[i].StepTypeDetail.Name%></td>
                                        <td class=" "><%=mission.Steps[i].Informations%></td>
                                        <td style="display:none"><%= mission.Steps[i].Position.Latitude %>:<%= mission.Steps[i].Position.Longitude %></td>
                                    </tr>
                                    <%}%>
                                </tbody>
                            </table>

                            <div class="col-md-12 col-sm-12 col-xs-12" style="height:500px;margin-bottom:20px;">
                                <div id="mapEtapes" style="width:100%;height:100%;"></div>
                                <div class="divider-dashed"></div>
                            </div>





                            <!-- PANNES -->

                            
                            <div style="font-size:18px;margin-top:5px;margin-bottom:10px;"><strong>Pannes</strong></div>

                            <p>Liste des pannes survenues au cours de la mission.</p>

                            <table id="tablePannes" class="table table-striped responsive-utilities jambo_table" style="margin-bottom:10px;">
                                <thead>
                                    <tr class="headings">
                                        <th>Numéro Panne</th>
                                        <th>Date</th>
                                        <th>Réparateur </th>
                                        <th>Etat panne </th>
                                        <th>Actions</th>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% if (mission.Failures.length > 0) { %>
                                    <% for(var i=0; i < mission.Failures.length; i++) { %>
                                    <tr class="even pointer">
                                        <td class="a-center "><%=mission.Failures[i].Id%></td>
                                        <td class="a-center "><%=mission.Failures[i].Date%></td>
                                        <% if (mission.Failures[i].Repairer != null){ %>
                                            <td class=" "><%= mission.Failures[i].Repairer.LastName %> <%= mission.Failures[i].Repairer.FirstName %></td>
                                        <% } else { %>
                                            <td class=" ">Aucun réparateur pour le moment.</td>
                                        <% } %>
                                        <% etatPanne = ""; 
                                        if ( mission.Failures[i].State == 0 ){ 
                                            etatPanne = "Déclarée"; 
                                        } else if ( mission.Failures[i].State == 1 ){ 
                                            etatPanne = "En cours de traitement"; 
                                        } else if ( mission.Failures[i].State == 2 ){ 
                                            etatPanne = "Réparateur en approche"; 
                                        } else { 
                                            etatPanne = "Résolue";
                                        }%>
                                        <td class=" "><%=etatPanne%></td>
                                        <td class=" "><a href="#">Voir la fiche associée</a></i>
                                        </td>
                                    </tr>
                                    <%}}else{%>
                                    <tr class="even pointer">
                                        <td colspan="4" style="text-align:center;">Aucune panne détectée.</td>
                                    </tr> 
                                    <%}%>
                                </tbody>
                            </table>


                            
                            <!-- PIECES-JOINTES -->

                            <div class="divider-dashed"></div>
                            <div style="font-size:18px;margin-top:5px;margin-bottom:10px;"><strong>Pièces-jointes</strong></div>

                            <p>Liste des pièces-jointes associées à la mission.</p>

                            <table id="tablePJ" class="table table-striped responsive-utilities jambo_table">
                                <thead>
                                    <tr class="headings">
                                        <th>Nom</th>
                                        <th>Date </th>
                                        <th>Description </th>
                                        <th class=" no-link last"><span class="nobr">Action</span>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="odd pointer" style="text-align:center">
                                        <td colspan="4">Aucune pièce-jointe n'est associée à la mission.</td>
                                    </tr>
                                </tbody>
                            </table>


    
                            <div class="ln_solid"></div>
                            <a href="/missions">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </a>
                        </form>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- script for map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIpkq2qmv4bMGXAiwbpnEfyHm-wTnqOc8&callback=initMap" async defer></script>
<script src="js/page_mission_view.js"></script>
<script type="text/javascript">
map = undefined;
center = [];
  function initMap() {
    googlMap = google.maps;
    //INIT de base de la map
    window.map = new googlMap.Map(document.getElementById('mapEtapes'), {
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    infowindow = new googlMap.InfoWindow();
    bounds = new google.maps.LatLngBounds();
    map.fitBounds(bounds);
  }
</script>
<%- include('footer') -%>